.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from { 
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


///*-------------------- side-link-left ส่วนเมนูด้านซ้ายทั้งหมด ----------------------*///
.side-link-left{
  width: 17%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: 'Prompt', sans-serif;
}

.side-link .bi{
  color: white;
  font-size: calc(1.1vw + 1.1vh);
  margin-left: calc(0.6vw + 0.6vh);
  margin-top: calc(0.2vw + 0.2vh);
}

$offwhite: darken(white, 10%);
$darkblue: rgb(50,50,60);


/*----------- sidenavbar menu ส่วนเมนูแต่ละหัวข้อ --------------*/
.side-link{
  height: 78vh;
  background-color: #74787C;

  li {
    cursor: pointer;
    transition: all 0.5s ease-out;

    i { 
      padding-top: 0.5vh;
    }
    p {
      margin-top: 1vh;
      margin-bottom: 1vh;
      transition: 0.25s transform ease-out;
    }
    @media (min-width: 480px) {
      &:hover p {
        transition: 0.25s transform ease-out;
        transform: scale(0.9);
      }
    }

  }

  .content-btn-activated {
    transition: all 0.5s ease ;
    background-color: #505356;
  }
}


///*------------------ user [column left] มุมซ้ายบนส่วนเกี่ยวกับผู้ใช้------------------*///
.user-show {
  display: flex;
  height: 100%;     
  overflow: hidden;
}

.user-profile {
  width: 25%;
  height: 100%;
  float: left;
  margin: auto;
}

.user-profile .img-circle {
  margin-top: 11.5%;
  height: 75%;
  width: 70%;
  border-radius: 50%;
}

.user-info {
  margin-top: 3%;
  float: left;
  width: 75%;
  text-align: center;
}

.user-info p {
  color: white;
  width: 100%;
  font-size: calc(0.6vw + 0.6vh);
  font-family: 'Prompt', sans-serif;
  margin: auto;
}

/*----------- row top[column left]  ------------*/
.side-link-left .row-top{
  width: 100%;
  height: 7vh;
  background: #2E2E2E;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.side-link-left .row-top{ 
  h4 {
    color: white;
    margin: auto;
    font-size: 20px;
  } 
  h5 {
    color: white;
    margin: 1.5vh auto;
    font-size: 16px;
  }
}



///*------------------------header-page ส่วนหัวสุด "ระบบขอทุนฯ"------------------------*///
.header-page{
  width: 100%;
  height: 7vh;
  background-color: #A62639;
  color: white;
  font-family: 'Prompt', sans-serif;

  h5{
    margin: auto;
    font-size: calc(0.7vw + 0.7vh);
  }
}

.logout-button{
  margin: auto 5% auto 5%;
}


///*--------------------- footer-page ส่วนล่างสุด "คณะวิศวะฯ" ---------------------*///
.footer-page{
  width: 100%;
  height: 7vh;
  background: #A62639;
  font-family: 'Prompt', sans-serif;
  color: white;
  bottom: 0;
}
.footer-page h5{
  margin: auto 0 auto 0;
  font-size: calc(0.8vw + 0.8vh);;
}
.footer-page{ 
  .ku_src_logo{
    width: calc(1.4vw + 1.4vh);
    height: calc(1.8vw + 1.8vh);
    margin: 1vh;
  }
  .ku_eng_src_logo{
    width: calc(2.2vw + 2.2vh);
    height: calc(1.8vw + 1.8vh);
    margin: 1vh 1vh 1vh 0;
  }
}



///*----------------------- frame-content เฟรมใหญ่สีขาวของทุกหน้า ----------------------*///
.frame-content{
  font-family: 'Prompt', sans-serif;
  margin: 3vh auto 3vh auto;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 5px 0px #949494;
  width:  90%;
  height: 80vh;
}

/*---------- head-content ส่วนบนสุดของแต่ละ frame ---------*/
.head-content{
  border-bottom: 2px solid #A62639;
  height: 7vh;
}

.icons{
  width: calc(1.6vw + 1.6vh);
  height: calc(1.6vw + 1.6vh);
  margin: auto 0 auto 0.5vw;
  border-radius: 50%;
  font-size: calc(1.0vw + 1.0vh);
  color: #fff;
  text-align: center;
  background : linear-gradient( #f6c8b1, #DD4A48);
}

.topic{
  margin: auto 0 auto 0.5vw;
  font-size: calc(1vw + 1vh);
  font-weight: 500;
}


///*-----------------frame-subcontent ขนาดของเฟรมย่อยแต่ละหน้า -------------------*///
/*------ กรอบ ประกาศข่าวสาร กรอบทุนที่เปิดให้ลงทะเบียน --------*/
.frame-subcontent1{ 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 73vh;
}

/*----------------- กรอบแบบรายงานทุน -------------------*/
.frame-subcontent2{ 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 61vh;
}

/*---------- กรอบกรอกประวัติ กรอบตรวจสอบเอกสาร -----------*/
.frame-subcontent3{ 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 63vh;
}

/*------------- กรอบกำหนดสิทธิ์การเข้าถึง ------------------*/
.frame-subcontent4{ 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 62vh;
}

 /*-------- กรอบตรวจสอบข้อมูล กรอบการสัมภาษณ์ ------------*/
.frame-subcontent5{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 56vh;
}


///*------------------------ button-add เพิ่มทุนเพิ่มข่าว ----------------------*///
.button-add{
  background-color: #F5F5F5;
  border-radius: calc(0.5vw + 0.5vh);
  width: calc(6vw + 6vh);
  height: calc(1.5vw + 1.5vh);
  border-style: hidden;
  margin: auto 3vw auto auto;
}
.button-add{ 
  p{
    font-size: calc(0.8vw + 0.8vh);
    margin: auto;
  }
  .bi{
    background-color: #03A96B;
    border-radius: 5px;
    width: calc(1.0vw + 1.0vh);
    height: calc(1.0vw + 1.0vh);
    font-size: calc(0.8vw + 0.8vh);
    color: white;
    margin: auto;
    
  }
  
}



///*--------------------------- news ส่วนของข่าวสารหน้าประกาศข่าวสาร----------------------------*///
/*------------------ กรอบข่าวสาร -------------------*/
.news{
  background-color: rgba(240, 240, 240, 0.4);
  border: 1px solid gray;
  border-radius: 10px;
  margin: 2.5%;

}

//*------------- หัวข้อย่อยข้างในข่าวสาร ---------------*//
.title {
  height: 7vh;
  border-bottom: 2px solid #7c7c7c;
  display: flex;
  h2{
    margin: auto 0 auto 1rem;
    text-align: left;
    width: 60%;
    font-size: calc(0.9vw + 0.9vh);
  }
  h3{
    margin: auto 1rem auto 0;
    text-align: right;
    width: 40%;
    font-size: calc(0.9vw + 0.9vh);
  }
  
}

/*----------------- เนื้อหาในข่าวสาร -----------------*/
.content, .content-image {
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform .5s; /* Animation */
}
.content h3{
  padding: calc(1vw + 1vh); font-size: calc(0.8vw + 0.8vh);
}

/*------------------ รูปของข่าวสาร -----------------*/
.news-image {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 30vh;
  background-color: lightgray;
  transition: transform .5s; /* Animation */
}
.news-image:hover {
  cursor: pointer;
}

/*----------- bottom ส่วนล่างสุดของกรอบข่าวสาร ------------*/

.newsList-bottom, .newsLogin-bottom {
  display: flex;
  width: 100%;
}

.newsList-bottom, .newsLogin-bottom, .scholar-bottom, .applicantList-bottom, .intervieweeList-bottom{
   h3{
    margin: 2% 3% 2% 3%;
    cursor: pointer;
    font-size: calc(0.8vw + 0.8vh);
   }
}

.scholar-bottom{
  width: 100%;
}

.reportList-bottom{
  width: 40%;
  h3 {
    margin-left: calc(2vw + 2vh);
    margin-top: calc(0.5vw + 0.5vh);
    font-size: calc(0.8vw + 0.8vh);
  }
}
.news-user-panel{
  width: 100%;
  text-align: right;
  float: right;
}
/*-------------------------รายละเอียดเพิ่มเติม-----------------------------*/
.user-panel {
  text-align: right;
  float: right;
  width: 40%;
}

/*----------------button delete edit test ปุ่ม 3 สีหน้าข่าวสาร---------------*/

.admin-panel {
  text-align: left;
  display: flex;
  width: 60%;
  margin-top: calc(0.4vw + 0.4vh);
}
.admin-panel {
  .btn-delete , .btn-modify ,.btn-test{
    width: calc(2vw + 2vh);
    height: calc(1vw + 1vh);
    border-radius: 3px;
    border-style: hidden;
    color:white;
    margin-left: calc(0.3vw + 0.3vh);
    font-size: calc(0.6vw + 0.6vh);
  }
  .btn-delete {
    background-color: #DD4A48;
  }
  .btn-modify {
  background-color: #A62639;
  }
  .btn-test{
  background-color: #03A96B;
  }
}


///*-------------------- ScholarshipList ทุนที่เปิดให้ลงทะเบียน ------------------*///
/*--------- scholar-list กรอบของทุนต่างๆ ------------*/
.scholar-list {
  background-color: rgba(240, 240, 240, 0.4);
  box-shadow: 0px 0px 5px 0px #949494;
  border-radius: 10px;
  margin: 2.5%;
  width:75%;
}

/*---------------- ปุ่มลงทะเบียนสีเขียว -----------------*/
.button-big{
  color: white;
  font-size: calc(2vh);
  width: 15%;
  height: 15vh;
  background-color:#03a96b;
  margin: 3vh auto 2vh auto;
  border-radius: 0.5rem;
  border:none ;
}


///*------------------------------ report รายงานทุน ---------------------------------*///
//*---------------- 4 select ด้านบนของหน้ารายงานทุน ---------------*//
.report-row-top{
  margin-top: calc(0.7vw + 0.7vh);
  height: 12vh;

  select{
    padding: calc(0.2vw + 0.2vh) calc(0.5vw + 0.5vh);
    display: inline-block;
    border: 1px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
  }
  
}
.report-scholarship, .report-term, .report-type, .report-sponcer {
  margin-left: calc(1vw +  1vh);
  width: 15%;
  
}
.report-scholarship, .report-term, .report-type, .report-sponcer {
  select{
    width: 100%;
  }
  
}

//*------------ reportlist รายละเอียดทุนแต่ละประเภท ------------*//
.reportList {
  background-color: white;
  border-radius: 10px;
  width: 95%;
  height: 13vh;
  margin: calc(0.5vw + 0.5vh) auto auto calc(2vw + 2vh);
  border: 1px solid #A62639;
  border-top: 4px solid #A62639;
  margin-left: 28px;
}


///*---------------------- ปุ่มขวาหน้ารายงานทุน ตรวจสอบข้อมูล การสัมภาษณ์ ----------------------*///

//*----------- reportList-right ปุ่มขวาหน้ารายงานทุน -----------*//
//*------- applicantList-right ปุ่มขวาหน้าตรวจสอบข้อมูล การสัมภาษณ์ --------*//
.reportList-right, .applicantList-right, .intervieweeList-right {
  width: 60%;
  margin-top: calc(0.5vw + 0.5vh);  

}

.reportList-right, .intervieweeList-right{
  .button-search {
    margin-left: calc(17vw + 17vh);  
  }
}

.applicantList-right, .intervieweeList-right{
  .button-search , .button-clock{
  margin-left: calc(35vw + 35vh);  
  margin-top: calc(0.5vw + 0.5vh); 
  }

}

.reportList-right, .applicantList-right, .intervieweeList-right {
  button{
    background-color: #F5F5F5;
    border-radius: 5px;
    border-style: hidden;
    width: 30%; 
    height: 6vh;
  }

}

.reportList-right, .applicantList-right, .intervieweeList-right {
  p {
    padding-left: 13px;
    padding-top: 11px;
    font-size: calc(0.7vw + 0.7vh);  
  }
}

.button-search, .button-clock {
  .bi{
    margin-top: calc(0.2vw + 0.2vh);
    border-radius: 10px;
    width: calc(1.7vw + 1.7vh);
    height: calc(1.7vw + 1.7vh);
    font-size: calc(1.1vw + 1.1vh);
    color: white;
    box-shadow: 0px 0px 2px 0px #949494;
    background-color: #28C3D7;
  }
  
}
.button-clock .bi{
  background-color: #03A96B;

}




///*------------------------ Applicant ตรวจสอบข้อมูล ,Interview การสัมภาษณ์ ------------------------*///
//*---------- row-top-check ส่วน from ด้านบนหน้า Applicant  -----------*//
//*--------- row-top-interview  ส่วน from ด้านบนหน้า Interview ----------*//
.applicant-row-top, .interview-row-top {
  width: 100%;
  height: 12vh;
  margin-top: calc(0.7vw + 0.7vh);
}

/*------- ส่วน from ประเภทของทุนหน้า Applicant Interview  -------*/
.applicant-column-left, .interview-column-left{
  width: 50%;
}

.applicant-select, .interview-left{
  margin-left: calc(1vw +  1vh);
  label{
    font-size: calc(0.8vw + 0.8vh);
  
  }
  select{
    width: 60%;
    padding: calc(0.2vw + 0.2vh) calc(0.5vw + 0.5vh);
    display: inline-block;
    border: 1px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
  
  }

}


/*--------- ส่วน from search หน้า Applicant Interview  --------*/
.applicant-column-right, .interview-column-right {
  width: 50%;
  
}

.applicant-search, .interview-search{
  background-color: hsl(0, 0%, 96%);
  margin-top: calc(1.3vw + 1.3vh);
  text-align: right;
  width: 87%;
  height: calc(1.7vw + 1.7vh);
  border: 1px solid #A62639;
  border-radius: 14px;  
  margin-left: 32px;

  input{
    width: 90%;
    height: 100%;
    border:none;
    outline:none;
    padding: calc(0.6vw + 0.6vh) calc(0.8vw + 0.8vh);
    display: inline-block;
    border-radius: 14px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
    
  }
  button{
    background-color: #f5f5f5;
    width: 10%;
    height: 95%;
    display: inline-block;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: calc(0.66vw + 0.66vh);
    
  }
  
}


/////*************------------------เบลทำถึงตรงนี้จ้า--------------------------******************/////

/*------------------------scholar-Interview----------------------------------*/
.scholar-Interview, .applicantList, .intervieweeList {
  background-color: white;
  border-radius: 10px;
  width: 95%;
  margin: calc(0.5vw + 0.5vh) auto auto calc(2vw + 2vh);
  border: 1px solid #A62639;
  border-top: 4px solid #A62639;
  margin-left: 28px;
  
}


/*------------------------เอามาจาก rolesetting----------------------------------*/
/*----------------------------search-role ปุ่มค้นหา ------------------------------*/
.rolesSetting-search {
  margin-top: 3vh;
  width: 80%;
  height: 10%;
  border-bottom: 3px solid #C4C4C4; 
  margin-left: 10%;
  input{
    width: 95%;
    height: 100%;
    border:none;
    outline:none;
    padding: calc(0.3vw + 0.3vh) calc(0.5vw + 0.5vh);
    display: inline-block;
    border-radius: 14px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh); 
  }
  button{
    background-color: #f5f5f5;
    width: 5%;
    height: 100%;
    display: inline-block;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: calc(0.66vw + 0.66vh);
  }
  .search-role{
    border-radius: 14px; 
    text-align: right;
    border: 1px solid #A62639;
    width: 100%; 
    background-color: #f5f5f5; 
  }

  
}

 
/*---------------rolelist-------------*/
.roleList{
  width: 100%;

  .name, .role{
    font-size: calc(0.8vw + 0.8vh);
    margin-top: calc(0.5vw + 0.5vh);
  }
  .name{
    margin-left: calc(0.5vw + 0.5vh);
  }
}


/*----------------form-rolelist------------*/
 .roleList-form{
  background-color: white;
  border-radius: 10px;
  width: 80%;
  height: 8vh;
  margin: calc(0.8vw + 0.8vh) auto auto calc(5vw + 5vh);
  border: 1px solid #A62639;
  border-top: 4px solid #A62639;

  .name{
    width: 50%; 
  }
  .role{
    width: 15%; 
  }
 

}
/*------------right-rolesetting-----------------*/
.roleList-right{
  width: 50%; 
  select{
    margin-top: calc(0.5vw +  0.5vh);
    margin-left: calc(2.5vw + 2.5vh);
    width: 80%;
    padding: calc(0.2vw + 0.2vh) calc(0.5vw + 0.5vh);
    display: inline-block;
    border: 1px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
   
  }
}


/*----------------profile-ข้อมูลส่วนตัว-------------------*/
/*------------row-top-profile----------*/

.profile-row-top{
  height: calc(14vw + 14vh);
  border-bottom: 3px solid #C4C4C4;
}
/*------------form-profile----------*/
.profile-form {
  margin-left: calc(1vw + 1vh);

  input{
    padding: calc(0.2vw + 0.2vh) calc(1vw + 1vh);
    display: inline-block;
    border: 1px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
  }
}

/*-------------img-profile----------*/
.profile-img{
  margin-left: calc(1vw + 1vh);
  margin-top: calc(1.5vw + 1.5vh);
  text-align: center;

  p {
    margin-top: calc(0.3vw + 0.3vh);
  }

  img{
    border-radius: 50%;
    width: calc(6vw + 6vh) ;
    height : calc(7.5vw + 7.5vh); 
  }
}

/*----------------data-profile-------------*/
.profile-data{
  margin-top: calc(2vw + 2vh);
}
/*------------------column-left--------------------*/
.profile-column-left{
  margin-left: calc(1vw + 1vh);

  input{
    width: 120%;
  }
}
/*------------------column-center--------------------*/
.profile-column-center{
  margin-left: calc(3vw + 3vh);

  input{
    width: 120%;
  }
}


/*------------------column-right--------------------*/
.profile-column-right{
  margin-left: calc(3.5vw + 3.5vh);
}
.profile-grade input{
  width: 67%;
}
.profile-branch input{
  color: #03A96B;
  width: 200%;
}
/*---------------botton----------------*/
.botton-edit {
  margin-left: calc(38vw + 38vh);
  button{
    background-color: #C07A7A; 
    border: none;
    color: white;
    padding: 0 calc(1vw + 1vh);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 50px;
  }
  p {
    font-size: calc(0.8vw + 0.8vh);
    margin: 3px;
  }
}

/*------------row-bottom-profile-----------*/
.profile-row-bottom{
  margin-left: calc(1vw + 1vh);
  margin-top: calc(0.5vw + 0.5vh);
}

.drop-scholaship{
  width:100%;
  height: 13vh;
  select{
    margin-top: calc(0.2vw + 0.2vh);
    width: 35%;
    padding: calc(0.2vw + 0.2vh) calc(0.5vw + 0.5vh);
    display: inline-block;
    border: 1px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
    
  }
}



/*-----------------announcementCreate scholarListCreate AnnouncementEdit-------------------*/
.announCre-column-left, .scholarListCrea-column-left, .announEdit-column-left {
  width: 50%;
}

/*----------- right-----------*/
.announCre-column-right , .announEdit-column-right {
  width: 50%;
}
.button2-set{
  margin-top: calc(0.2vw + 0.2vh);
  margin-left: calc(15.6vw + 15.6vh);
}
.save-button, .cancel-button{
  border-radius: 10px;
  width: calc(2vw + 2vh);
  height: calc(2vw + 2vh);
  border-style: hidden;
  margin-left: calc(0.5vw + 0.5vh);
  
}
.save-button {
  background-color: #03A96B;
}
.cancel-button {
  background-color: #A62639;
}

.button2-set .bi{
  border-radius: 10px;
  font-size: calc(0.8vw + 0.8vh);
  color: white;
  margin: auto;
  
}
/*--------------- center ----------------*/

.announCre-center , .announEdit-center{
  width: 95%;
  margin-top: calc(1vw + 1vh);
  margin-left: calc(1vw + 1vh);
  form{
    width: 100%;
  }
  input{
  border: 2px solid #A62639;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-weight: 300;
  padding-left: 9px;
  }
  .topic{
    border-bottom: 2px solid #C4C4C4;
    margin-bottom: calc(0.4vw + 0.4vh)
    
  }
  .topic input{
    margin-bottom: calc(0.5vw + 0.5vh);
    font-size: calc(0.6vw + 0.6vw);
    width: 50%;
    height: calc(2vw + 2vh);
  }  
  .detail input{
  width: 100%;
  height: calc(17vw + 17vh);
  font-size: calc(0.5vw + 0.5vh);
  
  }
}

/*-----------------bottom----------------------------*/
.announCre-row-bottom , .announEdit-row-bottom  {
  border-top: 2px solid #C4C4C4;
  margin-top: calc(0.4vw + 0.4vh);
  
  .date input{
    margin-top: calc(0.5vw + 0.5vh);
    height: calc(2vw + 2vh);
    padding-left: 10px;
    font-size: calc(0.6vw + 0.6vh);
  }
  /*----------insert image-----------*/
  .insertbutton{
    width: 100%;
    margin-top: calc(0.5vw + 0.5vh);
    
  }
  .insert{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .insert + label{
    border-radius: 10px;
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
    border-style: hidden;
    background-color: #03A96B;
    color: white;
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
    margin-left: calc(30.5vw + 30.5vh);
    cursor:pointer;
  }
  p{
    margin-top: calc(0.5vw + 0.5vh);
    margin-left: calc(0.5vw + 0.5vh);
    font-size: calc(0.8vw + 0.8vh);
  }
}
/*----------AnnouncementEdit ปุ่มเพิ่มรูป*--------------*/
.announEdit-row-bottom {
  .insert + label{
    margin-left: calc(39vw + 39vh);
  
  }

}


/*--------------------------schlorshiplistcreate สร้างทุน ----------------------*/
.scholarListCrea-center{
  width: 95%;
  margin-top: calc(1vw + 1vh);
  margin-left: calc(1vw + 1vh);
}

.scholarListCrea-center input{
  border: 1px solid #A62639;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-weight: 300;
  padding-left: 10px;

}
 /*----------------------const AnnounceForm-------------------------*/
.announce-topic{
  border-bottom: 2px solid #C4C4C4;
  
}
.announce-topic .type, .year{
  margin-bottom: calc(0.5vw + 0.5vh);
  font-size: calc(0.6vw + 0.6vw);
  width: 30%;
  height: calc(2vw + 2vh);
}
.announce-topic .year{
  margin-left: calc(1vw + 1vh);
}
/*-------center--------*/
.announce-center .detail{
  width: 100%;
  height: calc(13vw + 13vh);
  font-size: calc(0.5vw + 0.5vh);
  margin-top: calc(1vw + 1vh);
  margin-bottom: calc(1vw + 1vh);
  
}
/*-----------bottom-------------*/
.announce-bottom {
  border-top: 2px solid #C4C4C4;
  width: 100%; 
 
}

.announce-bottom .contributor input{
  margin-top: calc(0.5vw + 0.5vh);
  width: 20%;
  height: calc(2vw + 2vh);
  font-size: calc(0.6vw + 0.6vh);
  
}
.announce-bottom .contributor .amount{
  margin-left: calc(2vw + 2vh);
  
}
 /*------------------const FileForm เอกสารยื่นทุน----------------------*/
 .scholarListCrea-fileForm , .scholarListCrea-rateForm{
  /*border-top: 2px solid #A62639;*/
  margin-top: calc(4vw + 4vh);
  width:100%;
}

.fileForm-head, .rateForm-head{
  border-bottom: 3px solid #C4C4C4; 
  margin-left: calc(1vw + 1vh);
}
.fileForm-head h4 , .rateForm-head h4{
  font-size: calc(1vw + 1vh);
  font-weight: 600;
}

.fileForm-title , .rateForm-title{
  margin-left: calc(1.5vw + 1.5vh);
  margin-top: calc(0.5vw + 0.5vh);
}
/*-------ข้อความ หัวข้อ นามสกุล ระบบอัตโนมัติ-------*/
.fileForm-setTopic, .rateForm-setTopic {
  font-weight: 600;
  
}
.topics{
  width: 36.5%;
  
}
.typefile{
  width: 17%;
}
.document{
  width: 35%;
}

/*--------------- กล่องเพื่มเอกสาร ------------*/
.fileForm-detail , .rateForm-detail {
    font-size: calc(0.7vw + 0.7vh);
}
.file-document , .file-select-1, .file-select-2{
  border: 1px solid #A62639;
  border-radius: 5px;
  background-color: #f5f5f5;
  font-weight: 300;
  padding-left: 10px;
  font-size: calc(0.5vw + 0.5vw);
  height: calc(1.5vw + 1.5vh);
}

.file-select-1,.file-select-2{
  margin-left: calc(1vw + 1vh);
}
.file-document{
  width: 35%;
}
.file-select-1{
  width: 15%;
}
.file-select-2{
  width: 35%;
  
}
.fileForm-order , .rateForm-order{
  margin-top: calc(0.2vw + 0.2vh);
}
/*---------------  ปุ่ม +,- ------------*/

.btn-delete-circle , .btn-add-circle{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  border-radius: 69px;
  width: calc(1.7vw + 1.7vh);
  height: calc(1.7vw + 1.7vh);
  border-style: hidden;
  margin-left: calc(1vw + 1vh);
  color:white;
}
.btn-delete-circle {
	background: #A62639;
}
.btn-add-scholarCre{
  width: 95.4%;
  margin-top: calc(1vw + 1vh);
  
}
.btn-add-circle{
  background: #03A96B;
  float: right;
  
}
.btn-confirm-scholarCre{
  margin-left: calc(1vw + 1vh) ;
  margin-top: calc(2vw + 2vh);
}


/*------ProfileEdit Scholarshipcherkform ScholarshipListREgister-------*/
/*------------------------------ forms-list -------------*/
/*----การกรอกช้อมูลในโปรไฟล์------*/
/*----ชื่อเรื่องของหัวข้อนั้นในแบบฟอร์ม---*/
.name h5 {  
  margin-top: calc(1vh + 1vh) ;
  margin-bottom: calc(1vw + 1vh); 
  margin-left: calc(21.5vw + 21.5vh);
  font-weight: 500;
}
/*--ประวัติครอบครัว--*/
.profileEdit-form , .scholarChek-form, .scholarReg-form { 
  h5{
    margin-left: calc(12vw + 12vh);
    margin-top: calc(1vw + 1vh);
    font-weight: 500;
  }
  p{
    margin-left: calc(0.1vw + 0.1vh);
    margin-top: calc(1vw + 1vh);
    font-weight: 500;
    font-size: calc(0.81vw + 0.81vh); 
  }
  
}

/*--เอกสารที่ต้องใช้--*/
.profileEdit-form, .scholarChek-form, .scholarReg-form {
  width:80%;
  margin-left: 20%;
  margin-bottom: calc(1vw + 1vh); 
  input{
    width: 80%;
    padding: 9px 20px;
    display: inline-block;
    border: 2px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh); 
  }
  select{
    width: 80%;
    border: 2px solid #A62639;
    border-radius: 7px;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh); 
  }
  .topic-doc h5{ 
    margin-left: calc(10.3vw + 10.3vh);
    margin-top: calc(1vw + 1vh);
    font-weight: 500;
  }
}




/*-------------------- profile-fam-1---------------------*/

.profile-fam {
  width: 80%;
  height: 10vh;
  .fam1-edit, .fam2-edit {
    width: 50%;
  }
}

.fam1-edit input{
  width: 90%;
}
.fam2-edit{
  select{
    width: 100%;
  }
  input{
    width: 100%;
  }

} 



/*----------form-checks------ตรวจสอบความถูกต้องของเอกสาร-------------*/
.form-checks{   /*กรอบ*/
  width: 100%;
  height: 8vh;
}
.form-check-true, .form-check-false{
  margin-top: calc(1vw + 1vh);
}
/*--------------สมบูรณ์---------------*/
.form-check-true{
  margin-left: calc(10vw + 10vh); 
  accent-color:  #03A96B;
}
.form-check-true label{
  margin-left: calc(0.5vw + 0.5vh)
}
/*----------ไม่สมบูรณ์---------------*/
.form-check-false{ 
  margin-left: calc(1vw + 1vh);
  accent-color:  #A62639
}
.form-check-false label{
  margin-left: calc(0.5vw + 0.5vh)
}
/*---------หมายเหตุ----------------*/
.form-note {
  width: 100%;
  height: 35vh;
  .note{
    margin-left: calc(9.5vw + 9.5vh);

    label{
      font-size: calc(0.77vw + 0.77vh);
      font-weight: 500;
    }
    input{
      width: 80%;
      height: 30vh;
      margin: 8px 0;
      display: inline-block;
      border: 2px solid #A62639;
      border-radius: 7px;
      box-sizing: border-box;
      background-color: #f5f5f5;
      font-size: calc(0.77vw + 0.77vh);   
    } 
  }
  
}

/*-----------form-checks จบการตรวจสอบข้อมูล-----------------------------*/
/*------------------------------ footer ------------------------------*/
.profileCre-footer, .profileEdit-footer , .checkForm-footer, .register-footer{
  width: 100%;
  height: 10vh; 
}
.profile-btn-confirm , .btn-confirm-scholarCheck , .btn-confirm-scholarLisRig , .btn-confirm-interviewrate { 
  margin-left: calc(36vw + 36vh);
  margin-bottom: calc(1vw + 1vh);
}
 /*-------save บันทึกที่ เพิ่มข่าวสาร ข้อมูลส่วนตัว ตรวจสอบเอกสาร------*/
.btn-confirm {
  background-color: #03A96B;
  border: none;
  color: white;
  padding: calc(0.3vw + 0.3vh) calc(1.5vw + 1.5vh) ;
  text-align: center;
  text-decoration: none;
  font-size: calc(0.5vw + 0.5vh);
  margin: calc(0.8vw + 0.8vh) calc(0.1vw + 0.1vh);
  cursor: pointer;
  border-radius: 12px;
  
}


/*--------------------ConfirmModal หน้าเด้งตอนกดปุ่ม ลบ --------------------*/
.modal{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  width:  100%;
  height: 100vh;
  
}
.modal-content{
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px #949494;
  width:  40%;
  height: 40vh;

  background-color: white;
}
.modal-content h3{ 
  font-size: calc(1vw + 1vh);
}
.modal-head{
  margin-top: calc(3vw + 3vh);
  text-align: center;
 
}
/*------ button ยกเลิก ตกลง -------------*/
.modal-confirm .set-button {
  width: 100%;
  height: 15vh;
  

}
.set-button, .set-button{
  .btn-true, .btn-flase{
    width: 40%;
    height: 10vh;
    font-size: calc(1vw + 1vh);
    color: white;
    border-radius: 3rem;
    border:none ;
    margin-top: calc(2vw + 2vh);
    margin-left: calc(1.6vw + 1.6vh);
  }
  .btn-flase{
    background-color: #C4C4C4;
    
  }
  .btn-true{
    background-color:#03a96b;
    
  }
}


/*--------------interviewrate----------------*/
.interviewrate-head{
  width: 90%;
  height: 7vh;
  border-bottom: 3px solid #C4C4C4; 
  margin-left: calc(3vw + 3vh);

  h4{
    text-align: center;
    margin-top: calc(1vw + 1vh);
    font-size: calc(0.8vw + 0.8vh);
    font-weight: 600;
   }
 }

.interviewrate-center {
  width: 100%;
  height: 75%;
  form{
    margin-top: calc(1.5vw + 1.5vh);
    margin-left: calc(3vw + 3vh);
    width: 90%;  
  }

}

.interviewrate-score input {
  background-color: #f5f5f5;
  border-radius: 6px;
  border: 1px solid #A62639;
  width: 90%;
  height: 5vh; 
  padding-left: 2vw;  
}
.interviewrate-complete{
  width: 100%;
  height: 8vh;
 } 
.interviewrate-check-true{
  accent-color:  #03A96B;
}
.interviewrate-check-false{
  accent-color:  #A62639;
  margin-left: calc(1vw + 1vh);
}
.interviewrate-check-true, .interviewrate-check-false{
   label{
    margin-left: calc(0.5vw + 0.5vh);
   }
}

.interviewrate-complete2{
  margin-top: calc(1.2vw + 1.2vh);
  margin-left: calc(5vw + 5vh);
}
///*--------------InterviewSchedule มันคือหน้าไหนของเว็บหาไม่เจอ แงงง (mint) ----------------*///
.interviewSchedule-center{
  form{
    margin-top: calc(1.5vw + 1.5vh);
    margin-left: calc(3vw + 3vh);
    width: 100%;
  }

  input, select{
    padding: calc(0.2vw + 0.2vh) calc(1vw + 1vh);
    display: inline-block;
    border: 1px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
    width: 90%;
    height: 5vh; 
  }
}

.interviewSchedule-fotter{
  width: 100%;
  height: 20%;
  .confirm{
    margin-left: calc(37vw + 37vh);

    p{
      font-size: calc(0.7vw + 0.7vh);
    }

    button {
      height: 5vh;
      background-color: #03A96B;
      border: none;
      color: white;
      padding: calc(0.3vw + 0.3vh) calc(1.5vw + 1.5vh) ;
      text-align: center;
      text-decoration: none;
      font-size: calc(0.5vw + 0.5vh);
      margin: calc(0.8vw + 0.8vh) calc(1.2vw + 1.2vh);
      cursor: pointer;
      border-radius: 12px;
    }
  }
}

 /*--------------------ReportInspect----------------------*/
.reportInspect-head{
  width: 40%;
  margin: auto;
}

.reportInspect-foter{
  width: 100%;
  height: 20%;
  .button{ 
    width: 40%;
    margin: auto;
  }
  .dowload p, .back p{
    font-size: calc(0.7vw + 0.7vh);
  }
  .dowload, .back {
    height: 5vh;
    border: none;
    color: white;
    padding: calc(0.3vw + 0.3vh) calc(1.5vw + 1.5vh) ;
    text-align: center;
    text-decoration: none;
    font-size: calc(0.5vw + 0.5vh);
    margin: calc(0.8vw + 0.8vh) calc(0.8vw + 0.8vh);
    cursor: pointer;
    border-radius: 12px;
  }
  .dowload {
    background-color: #03A96B;
  }
  .back {
    background-color: #DD4A48;
  }

}

  