$ku-green:  #03A96B;
$ku-red:    #A62639;  

$light-gray:#74787C;  // Sidebar
$gray:      #505356;  // Sidebar onClick
$dark-gray: #2E2E2E;  // Profile Bg

@function size($value) {
  $size: calc(($value * 1vw) + ($value * 1vh));
  @return $size;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Prompt', sans-serif;
}

/* ----- Sweet Alert ----- */
.swal2-container{
	font-family: 'Prompt', sans-serif;
}

/* ----- Loading Screen ----- */
.loading-screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 1;
  display: flex;
  p {
    margin: auto;
    font-size: size(3);
    color: white;
    display: flex;
    animation: rotate 0.5s linear infinite;
    i {
      margin-top: size(0.3);
    }
  }
  @media (max-width: 480px) {
    p {
      margin: auto;
      font-size: size(3);
      color: white;
      display: flex;
      animation: rotate 2s linear infinite;
      i {
        margin-top: size(0.3);
      }
    }
  }
  @keyframes rotate {
    100% { transform: rotate(360deg); }
  }
  @keyframes fadeIn {
    0%    { opacity: 0; }
    100%  { opacity: 1; }
  }
  @keyframes fadeOut {
    0%    { opacity: 1; }
    100%  { opacity: 0; }
  }
  
}

/* ----- Input with Button ----- */
.inputWithButton {
  position: relative;
  height: 40px;
  button {
    position: absolute;
    right: 0;
  }
}

//--------------------- Login.js --------------------
.login-button {
  width: 60%;
  background:$ku-red;
  color: white;
  border-radius: 0.5vw ;
  border: none;
  padding: 0.25vw 0.5vw 0.25vw 0.25vw;
  font-size: size(0.75);
}
.logo-button {
  width: size(2);;
  height: size(2);;
  border-radius: 15%;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  background: white;
}
.logout-button {
  color: white;
  background-color: $ku-red;
  border: none;
  text-decoration: none;
  font-size: 3.5vh;
  
}


//-------------------- LoginPage.js --------------------
.login-page {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100%;
  font-family: 'Prompt', sans-serif;

  .column-left {
    background-image: url("./data/images/login_bg.png");
    width: 68%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    .frame {
      margin: auto;
      background-color: rgba(255, 255, 255, 0.5);
      border-radius: 0.5rem;
      box-shadow: 0px 0px 5px 0px black;
      width:  90%;
      height: 80vh;
      .header {
        display: flex;
        .left {
          display: flex;
        }
        .right {
          display: flex;
        }
      }
    }
  }
  .column-right {
    width: 32%;  
    background: $ku-red;
    display: flex;
    flex-direction: column;
    .ku_eng_src_logo {
      width: size(10); height: size(8); margin: size(1);
    }
    .ku_src_logo {
      width: size(2.3); height: size(2.9); margin: size(0.2);
    }
    .row-top {
      width: 100%;
      height: 10vh;
      background: $ku-red;
      p {
        color: white;
        font-weight: 400;
        font-size: size(0.8);
        margin-top: 1.25vh;
      }
    }
    .row-center {
      width: 100%;
      height: 80vh;
      background: white;
      padding: 20vh 0 20vh 0;
      text-align: center;

    }
    .row-bottom {
      width: 100%;
      height: 10vh;
      background: $ku-red; 
      display: flex;
      overflow: hidden;
      p {
        margin: size(0.3);
        color: white;
        font-weight: 400;
        font-size: size(0.8);
      }
    }
  } 
}

//-------------------- MainPage.js ---------------------
.main-page {
  display: flex;
  font-family: 'Prompt', sans-serif;

  .sidebar {
    width: 17%;
    height: 100%;
    color: white;

    .row-top {
      width: 100%;
      height: 7vh;
      background: $dark-gray;
      text-align: center;
      
      
      .user-profile {
        width   : 25%;
        height  : 100%;
        float   : left;
        display : flex;
        img {
          height  : size(1.9);
          width   : size(1.9);
          margin  : auto;
          border-radius: 50%;
         
        }
      }
     
      .user-info {
        margin-top: 3%;
        float: left;
        width: 75%;
        text-align: center;
        p {
          width: 100%;
          font-size: size(0.6);
          font-family: 'Prompt', sans-serif;
          margin: auto;
        }
      }
      
    }
    
    .row-bottom {
      display: flex;
      flex-direction: column;
      height: 93vh;
      button {
        width: 100%;
        height: 10%;
      }
      ul {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
        background-color: $light-gray;
        li {
          cursor: pointer;
          transition: all 0.5s ease-out;
          color: white;
          display: flex;
          i { 
            padding-top: 0.5vh;
            font-size: size(1.1);
            margin-left: size(0.6);
            margin-top: size(0.2);
          }
          p {
            margin-top: 1vh;
            margin-bottom: 1vh;
            transition: 0.25s transform ease-out;
            padding: size(0.3) size(0.6);
            font-size: size(0.8);
          }
          &:hover p {
            transition: 0.25s transform ease-out;
            transform: scale(0.9);
          }
          
        }
      }
    }
  }// sidebar

  .column-right {
    width   : 83%;  
    height  : 100vh;
    display : flex;
    flex-direction: column;
    .row-top {
      width   : 100%;
      height  : 7vh;
      color   : white;
      display : flex;
      background-color: $ku-red;

      p {
        margin    : auto;        
        font-size : size(0.8);
      }
      .logout-button{
        margin: auto 5% auto 5%;
      }
      
    }

    .row-center {
      background-color: #F5F5F5;
      height: 86vh;
      width: 100%;
      display: flex;
      .frame {
        font-family : 'Prompt', sans-serif;
        margin: auto;
        background-color : white;
        border-radius : 0.5rem;
        box-shadow : 0px 0px 5px 0px #949494;
        width :  70vw;
        height : 80vh;
        .header{
          border-bottom : 2px solid $ku-red;
          height: 7vh;
          display: flex;

          .left{
            width: 50%;
            display: flex;
          }

          .right{
            width: 50%; 
            display: flex;
          }
        }
      }
      

      
    }

    .footer-page{
      width: 100%;
      height: 7vh;
      background: $ku-red;
      font-family: 'Prompt', sans-serif;
      color: white;
      bottom: 0;
  
      h5{
        margin: auto 0 auto 0;
        font-size: size(0.8);;
      }
  
      .ku_src_logo{
        width: size(1.4);
        height: size(1.8);
        margin: 1vh;
      }
      .ku_eng_src_logo{
        width: size(2.2);
        height: size(1.8);
        margin: 1vh 1vh 1vh 0;
      }
    }// footer

  }// column-right

  
}// MainPage.js


.icons{
  width: size(1.9);
  height: size(1.9);
  margin: auto 0 auto 0.5vw;
  border-radius: 50%;
  font-size: size(1.2);
  color: #fff;
  text-align: center;
  background : linear-gradient( #f6c8b1, #DD4A48);
} 
.topic{
  margin: auto 0 auto 0.5vw;
  font-size: size(1);
  font-weight: 500;
  margin-top: 1.8vh; 
}
.contents{  
  height: 80vh;
}

.content1{ 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 73vh;
}

.content2{ 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 61vh;
}

.content3{ 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 67vh;
}

.content4{ 
  overflow-y: scroll;
  overflow-x: hidden;
  height: 60vh;
}

.content5{
  overflow-y: scroll;
  overflow-x: hidden;
  height: 56vh;
}

.button-add{
  background-color: #F5F5F5;
  border-radius: size(0.5);
  width: size(6);
  height: size(1.5);
  border-style: hidden;
  margin: auto 3vw auto auto;
  margin-top: 1.3vh;
  p{
    font-size: size(0.8);
    margin: auto;
  }
  .bi{
    background-color: $ku-green;
    border-radius: 5px;
    width: size(1);
    height: size(1);
    font-size: size(0.8);
    color: white;
    margin: auto;
    
  }
}

.news{
  background-color: rgba(240, 240, 240, 0.4);
  border: 1px solid gray;
  border-radius: 10px;
  margin: 2.5%;
}
.content, .content-image {
  height: 30vh;
  overflow-y: auto;
  overflow-x: hidden;
  transition: transform .5s; /* Animation */
  /*--------- รูปของข่าวสาร ------------*/
  .news-image {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 30vh;
    background-color: lightgray;
    transition: transform .5s; /* Animation */
  }
  .news-image:hover {
    cursor: pointer;
  }
}

.admin-panel {
  text-align: left;
  display: flex;
  width: 60%;
  margin-top: size(0.4);
  margin-bottom: size(0.4);
  
}
.user-panel{
  width: 40%;
  text-align: right;
  margin-top: size(0.4);
  margin-bottom: size(0.4);
  float : right; 
}
//ปุ่ม ลบ แก้ไข role-admin
.button-admin{
  width: size(2);
  height: size(1);
  border-radius: 3px;
  border-style: hidden;
  color:white;
  margin-left: size(0.3);
  font-size: size(0.6);
}
.button-1{//บันทึกยกเลิก
  border-radius: 4px;
  width: size(4);
  height: size(1.5);
  border-style: hidden;
  color: white;
  font-size: size(0.7);
  display: flex;
  margin: auto;
  margin-right: size(0.5);
  .bi, p{
    margin: auto;
  }
}
.button-confirm{
  width: size(4.5);
  height: size(1.5);
  border-radius: 12px;
  border-style: hidden;
  color:white;
  font-size: size(0.6);
  margin-left: size(0.1);
}
.insertbutton{
  width: 100%;
  display: flex;

  .insert{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  label{
    width: size(2);
    height: size(2);
    border-radius: 10px;
    border-style: hidden;
    background-color: $ku-green;
    font-size: size(1.5);
    cursor:pointer;
    color: white;
    text-align: center;
    margin-top: size(0.5);
  }
  p{
    margin: size(1) auto auto size(0.5) ;
  }      
}


//สีปุ่ม
.red1 {
  background-color: $ku-red;
}
.red2{
  background-color: #DD4A48;
}
.green1 {
  background-color: $ku-green;
}

//ปุ่ม บันทึก ยกเลิก AnnouncementCreate
 .button-set{
  display: flex;
  margin-left: size(12);
}

 //anoucementCreate
.form1{
  margin: size(1) 0 0 size(1);
  width: 98%;
  .heading{
    width: 50%;
    height: size(2);
    font-size: size(0.6);
    display: flex;
    margin-bottom: size(0.5);
  }  
  input, textarea{
    border: 2px solid $ku-red;
    border-radius: 5px;
    background-color: white;
    padding-left: 9px;
    resize: none;
    font-size: size(0.7);
  }
  .detail {
    textarea{
      width: 97%;
      height: size(18);
      padding-top: 5px;
      
    }
  }
}

.form2{ 
  width:80%;
  margin-left: 20%;
  margin-bottom: size(1);
  h5{
    margin: size(1) 0 size(1.5) size(10) ;
    font-weight: 600;
  }
  p{
    font-weight: 600;
    font-size: size(0.7); 
    margin: size(1) auto auto size(0.1) ;
  }
  label{
    font-size: size(0.7); 
  }
  input{
    width: 80%;
    height: 6vh;
    padding: 9px 10px;
    display: inline-block;
    border: 2px solid $ku-red;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: size(0.66); 
    margin-bottom: size(0.5);
  }
  select{
    width: 80%;
    height: 6vh;
    border: 2px solid $ku-red;
    padding: 9px 10px;
    border-radius: 7px;
    background-color: #f5f5f5;
    font-size: size(0.66);
    margin-bottom: size(0.5); 
  }
  
  .profile-fam {
    width: 80%;
    height: 10vh;
    
    .fam-edit{
      width: 50%;
    }
    .fam1 {
      input{
        width: 90%;
        height: 5vh;
      }
    }
    .fam2 {
      select{
        width: 100%;
      }
      input{
        width: 100%;
        height: 5vh;
      }
    } 
  }
}
.form3{
  .form-checks {
    margin-left: size(9);
  }
  .radio1{
    margin-top: size(0.5);
    width: 20%;
    
    label{
      margin-left: size(0.5);
    }
  }
  

  /*--------- สมบูรณ์ ---------*/
  .form-check-true{
    width: 20%;
    accent-color:  $ku-green;
    display: flex;
  }

  /*--------- ไม่สมบูรณ์ ---------*/
  .form-check-false{
    width: 20%;
    accent-color:  $ku-red;
    display: flex;
  }

  /*--------- หมายเหตุ ---------*/
  .form-note {
    width: 100%;
    height: 35vh;
    margin-top: size(1);
    .note{
      margin-left: size(9);

      label{
        font-size: size(0.77);
        font-weight: 500;
      }
      textarea{
        width: 80%;
        height: 30vh;
        margin: 8px 0;
        padding: 9px 10px;
        display: inline-block;
        border: 2px solid $ku-red;
        border-radius: 7px;
        box-sizing: border-box;
        background-color: #f5f5f5;
        font-size: size(0.66);
        resize: none;   
      } 
    }
  }
  
}
.form4 {
  height: 11vh;
  width: 100%;
  margin-top: size(0.7);
  display: flex;
  
  select{
    padding: size(0.2) size(0.5);
    display: inline-block;
    border: 1px solid $ku-red;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: size(0.66);
  }
  label{
    font-size: size(0.8);
  }
  .column-left{
    width: 50%;
    margin-left: size(1);
    select{
      width: 50%;
    }  
   
  } 
  .column-right {
    width: 50%;
  }      
}

//scholar-Interview 
.container1  {
  background-color: white;
  border-radius: 10px;
  width: size(42.5);
  margin: size(0.5) auto auto size(1);
  border: 1px solid $ku-red;
  border-top: 4px solid $ku-red;


  .information{
    display: flex;
    width: 100%;
   
    .left{
      width: 50%;
      h3{
        margin: 2% 3% 2% 3%;
        cursor: pointer;
        font-size: size(0.8);
      }
     
    }
    .right {
      width: 50%;

    } 
  }
}



.button-2{
  margin:size(0.5);
  margin-left: size(12);
  background-color: #F5F5F5;
  border-radius: 5px;
  border-style: hidden;
  width: 40%; 
  height: 6vh;
  p {
    padding-left: 13px;
    padding-top: 11px;
    font-size: size(0.7);  
  }
  .bi{
    margin-top: size(0.2);
    border-radius: 10px;
    width: size(1.7);
    height: size(1.7);
    font-size: size(1.1);
    color: white;
    box-shadow: 0px 0px 2px 0px #949494;
  
  }
  .bi-search{
    background-color: #28C3D7;
  
  }
  .bi-hourglass{
    background-color: $ku-green; 
  
  }
  .bi-clock{
    //background-color: #ffbe26;
    //background-color: #fb4c21;
    background-color: #f14646;
  }
  .bi-bookmark-check{
    //background-color: #ff9500; 
    background-color: #fba42a; 
  }
 
}






// หน้า report
.select1 {
  margin-left: size(1);
  width: 15%;
  select{
    width: 100%;
  }  
}

.search1{
  background-color: hsl(0, 0%, 96%);
  text-align: right;
  width: 87%;
  height: size(1.6);
  border: 1px solid $ku-red;
  border-radius: 14px; 
  margin-top: size(1.2); 
  margin-left: size(1.4);

  input{
    width: 90%;
    height: 100%;
    border:none;
    outline:none;
    padding: size(0.6) size(0.8);
    display: inline-block;
    border-radius: 14px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: size(0.66);
    
  }
  button{
    background-color: #f5f5f5;
    width: 10%;
    height: 95%;
    display: inline-block;
    border-radius: 14px;
    box-sizing: border-box;
    font-size: size(0.66);
    
  } 
}



.confirm{ 
  float: right;
  display: flex;
      
}  
.footer1{
  width: 93%;
  height: 10vh; 
   
}


.preview{
  width: 95%;
  border-top: 3px solid #C4C4C4; 
  margin: size(0.5) auto auto size(1);
  
  h4{
    margin-top: size(0.8);
    font-size: size(1);
  }
}

.title {
  height: 7vh;
  border-bottom: 2px solid #7c7c7c;
  display: flex;
  h2{
    margin: auto 0 auto 1rem;
    text-align: left;
    width: 55%;
    font-size: size(0.9);
  }
  h3{
    margin: auto 1rem auto 0;
    text-align: right;
    width: 45%;
    font-size: size(0.9);
  }
} 
.scholar-list{
  background-color: rgba(240, 240, 240, 0.4);
  box-shadow: 0px 0px 5px 0px #949494;
  border-radius: 10px;
  margin: 2.5%;
  width:75%;
  //height: 14vh;

  //หัวข้อย่อยข้างในข่าวสาร 

}
//ลบแก้ไข รายละเอียดเพิ่มเติม
.bottom1{
  display: flex;
  width: 100%;
  h3{
    margin: 2% 3% 2% 3%;
    cursor: pointer;
    font-size: size(0.8);
  }
}




 // ปุ่มลงทะเบียน,นัดหมายสีเขียว 
.button-big{
  color: white;
  font-size: size(0.75);
  width: 15%;
  height: 15vh;
  background-color:$ku-green;
  margin: 3vh auto 2vh auto;
  border-radius: 0.5rem;
  border:none ;
  @media (max-width: 480px) {
    background-color:$ku-red;
  }
} 

/*
@media (max-width: 480px) {
  .main-page {
    .sidebar {
      .row-top {
        .user-profile {
          width   : 100%;
          height  : 100%;
          float   : left;
          display : flex;
          img {
            height  : size(3.5);
            width   : size(3.5);
            margin  : auto;
            border-radius: 50%;
          }
        }
        .user-info {
          visibility: hidden;
        }
        
      }
      .row-bottom {
        ul {
          li{
            i { 
              font-size: size(3);
              //background: #28C3D7;
              height: 100%;
              width: 100%;
              padding: 0;
              margin: 0 0 0 4vw;
            }
            p {
              visibility: hidden;
            }
          }
        }
      }
    } 
  } 
}
*/









  



//เหลือข้างใน

//InterviewRate.js



 










.btn-confirm-interviewrate, .btn-confirm-interviewSchedule  {
  margin: size(1) auto size(1) auto; 
  
}



