html, body {
  height: 100%;
  width: 100%;
  
} 
.login .row {
  display:inline-block;
  justify-content: table;
}
/*-------------------- COLUMN LEFT ----------------------*/
.login .column-left {
  background-image: url("../images/login_bg.png");
  width: 68%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
/*-------------------- COLUMN RIGHT ----------------------*/
.login .column-right {
  width: 32%;  
  background: #A62639;
}
/*-------------------- ROW TOP [COLUMN RIGHT] ----------------------*/
.login .column-right .row-top {
  width: 100%;
  height: 10vh;
  background: #A62639;
  font-family: 'Prompt', sans-serif;
}
.login .column-right .row-top p {
  color: white;
  font-weight: 400;
  font-size: calc(0.8vw + 0.8vh);
  margin-top: 1.25vh;
}
/*-------------------- ROW CENTER [COLUMN RIGHT] ----------------------*/
.login .column-right .row-center {
  width: 100%;
  height: 80vh;
  background: rgb(255, 255, 255);
  font-family: 'Prompt', sans-serif;
  padding: 15vh 0 15vh 0;
}
.login .ku_eng_src_logo {
  width: calc(10vw + 10vh);
  height: calc(8vw + 8vh);
  margin: calc(1vw + 1vh);
}
/*-------------------- ROW BOTTOM [COLUMN RIGHT] ----------------------*/
.login .column-right .row-bottom {
  width: 100%;
  height: 8vh;
  background: #A62639; 
  font-family: 'Prompt', sans-serif;
  display: flex;
  overflow: hidden;
}
.login .ku_src_logo{
  width: calc(2.3vw + 2.3vh);
  height: calc(2.9vw + 2.9vh);
  margin: calc(0.2vw + 0.2vh);
}
.login .row-bottom p {
  margin: calc(0.3vw + 0.3vh);
  color: white;
  font-weight: 400;
  font-size: calc(00.8vw + 0.8vh);
}