html, body {
  height: 100%;
  width: 100%;
  overflow: auto;
}
.main .row {
  display:inline-block;
  justify-content: table;
}
/*------------- COLUMN LEFT --------------*/
.main .column-left {
  width: 17%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Prompt', sans-serif;
  

}
.main li p {
  display: block;
  color: white;
  padding: calc(0.3vw + 0.3vh) calc(0.6vw + 0.6vh);
  text-decoration: none;
  font-size: calc(0.8vw + 0.8vh);
  font-weight: 400;
}

.main .navs-link .bi{
  color: white;
  font-size: calc(1.1vw + 1.1vh);
  margin-left: calc(0.6vw + 0.6vh);
  margin-top: calc(0.2vw + 0.2vh);
}

/*--------NAV MENU--------*/
.main .column-left .navs-link{
  height: 78vh;
  background-color: #74787C;
}

.main .navs-link li {
  cursor: pointer;
}
.main .navs-link li:hover {
  background-color: #505356;
}
.main .navs-link li:active {
  background-color: rgb(0, 0, 0);
}
/*-------------------phone nvas link-------------------------*/
@media screen and (max-width: 480px){
  .main .navs-link p {
    display: none;
  }
  .main .navs-link .bi{
    font-size: calc(2vw + 2vh);
    margin-left: calc(1.7vw + 1.7vh);
    
  }
}


/*------------- USER PROFILE [COLUMN LEFT] --------------*/
.main .user-show {
  display: flex;
  height: 100%;     
  overflow: hidden;
}
.main .user-profile {
  width: 25%;
  height: 100%;
  float: left;
  margin: auto;
}
.main .user-profile img {
  margin-top: 12.5%;
 
  height: 70%;
  width: 70%;
  border-radius: 50%;
}
.main .user-info {
  margin-top: 3%;
  float: left;
  width: 75%;
  text-align: center;
}
.main .user-info p {
  color: white;
  width: 100%;
  font-size: calc(0.6vw + 0.6vh);
  font-family: 'Prompt', sans-serif;
  margin: auto;
}

/*--------------------phone profile----------------------*/

@media screen and (max-width: 480px){
  .main .user-info{
    display: none;
  }
  .main .user-profile {
    width: 100%;
    height: 100%;
  }
  .main .user-profile img {
    height: calc(3vw + 3vh);
    width: calc(3vw + 3vh);
    margin-top: 3px;
  }
  
}
/*------------- ROW TOP [COLUMN LEFT] --------------*/
.main .column-left .row-top {
  width: 100%;
  height: 7vh;
  background: #2E2E2E;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
.main .column-left .row-top h4 {
  color: white;
  margin: auto;
  font-size: 20px;
}
.main .column-left .row-top h5 {
  color: white;
  margin: 1.5vh auto;
  font-size: 16px;
}

/*------------- COLUMN RIGHT --------------*/
.main .column-right {
  width: 83%;  
  height: 100vh;
}
/*------------- ROW TOP [COLUMN RIGHT] --------------*/
.main .column-right .row-top {
  width: 100%;
  height: 7vh;
  background-color: #A62639;
  color: white;
  font-family: 'Prompt', sans-serif;
}

.main .column-right .row-top h5{
  margin: auto;
  font-size: calc(0.7vw + 0.7vh);
}
.main .icon-button{
  margin: auto 5% auto 5%;
}
/*------------- ROW CENTER [COLUMN RIGHT] --------------*/
.main .column-right .row-center {
  background-color: #F5F5F5;
  height: 86vh;
  width: 100%;
}
/*------------- ROW BOTTOM [COLUMN RIGHT] --------------*/
.main .column-right .row-bottom{
  width: 100%;
  height: 7vh;
  background: #A62639;
  font-family: 'Prompt', sans-serif;
  color: white;
  position: fixed;
  bottom: 0;
}
.main .column-right .row-bottom h5{
  margin: auto 0 auto 0;
  font-size: calc(0.8vw + 0.8vh);;
}
.main .column-right .row-bottom .ku_src_logo{
  width: calc(1.4vw * 1.4vh);
  height: calc(1.8vw * 1.8vh);
  margin: 1vh;
}
.main .column-right .row-bottom .ku_eng_src_logo{
  width: calc(2.2vw * 2.2vh);
  height: calc(1.8vw * 1.8vh);
  margin: 1vh 1vh 1vh 0;
}

.main .newsbox {
  position: absolute;
  width: 60vw;
  height: 76vh;
  left: 31vw;
  top: 11.5vh;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-family: 'Prompt', sans-serif;
}

/*---------------------------------phone------------------------------*/

