/*
    ANNOUNCEMENT
        HEADER
        NEWSLIST
            NEWS
*/

.announcementCreate {
    font-family: 'Prompt', sans-serif;
    margin: 3vh auto 3vh auto;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px #949494;
    width:  90%;
    height: 80vh;
}
/*---------- HEADER ---------*/
.announcementCreate .header {
    border-bottom: 2px solid #A62639;
    height: 7vh;
}
/*----- LEFT ----*/
.announcementCreate .header .column-left{
    height: 100%;
    width: 50%;
}
.announcementCreate .header .column-left .icon-plus{
    width: calc(1.6vw + 1.6vh);
    height: calc(1.6vw + 1.6vh);
    margin: auto 0 auto 0.5vw;
    border-radius: 50%;
    font-size: calc(1.0vw + 1.0vh);
    color: #fff;
    text-align: center;
    background : linear-gradient( #f6c8b1, #DD4A48);
    
}

.announcementCreate .header .column-left h4{
    margin: auto 0 auto 0.5rem;
    font-size: calc(1vw + 1vh);
    font-weight: 500;
    
}
/*----------------------- RIGHT --------------------------------*/
.announcementCreate .header .column-right{
    height: 100%;
    width: 50%;
}
.announcementCreate .header .column-right .save-button {
    border-radius: 10px;
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
    border-style: hidden;
    background-color: #03A96B;
    color: white;
    margin: auto 0 auto auto;
}
.announcementCreate .header .column-right .cancel-button {
    border-radius: 10px;
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
    border-style: hidden;
    background-color: #A62639;
    color: white;
    margin: auto 0.5vw auto 0.5vw;
}

.announcementCreate .header .column-right .bi{
    border-radius: 10px;
    font-size: calc(0.8vw + 0.8vh);
    color: white;
    margin: auto;
    
}

/*--------------- center ----------------*/
.announcementCreate .center{
    width: 95%;
    margin-top: calc(1vw + 1vh);
    margin-left: calc(1vw + 1vh);
}
.announcementCreate .center form{
    width: 100%;;
}
.announcementCreate .center input{
    border: 2px solid #A62639;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-weight: 300;
    padding-left: 10px;
  
}
.announcementCreate .center .topic{
    border-bottom: 2px solid #C4C4C4;
    
}
.announcementCreate .center .topic input{
    margin-bottom: calc(0.5vw + 0.5vh);
    font-size: calc(0.6vw + 0.6vw);
    width: 50%;
    height: calc(2vw + 2vh);
   
}

.announcementCreate .center .detail input{
    width: 100%;
    height: calc(12.5vw + 12.5vh);
    font-size: calc(0.5vw + 0.5vh);
    
}
/*-------------------bottom--------------------*/
.announcementCreate .add-row-bottom {
    border-top: 2px solid #C4C4C4;
   
    
    
}
.announcementCreate .add-row-bottom .date input{
    margin-top: calc(0.5vw + 0.5vh);
    height: calc(2vw + 2vh);
    padding-left: 10px;
    font-size: calc(0.6vw + 0.6vh);
}
/*------------------------insert image--------------------------------*/
.announcementCreate .add-row-bottom .insertbutton{
    width: 100%;
    margin-top: calc(0.5vw + 0.5vh);
    /*margin-left: calc(30vw + 30vh);*/
    
}
.announcementCreate .add-row-bottom .insert{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.announcementCreate .add-row-bottom .insert + label{
    border-radius: 10px;
    width: calc(2vw + 2vh);
    height: calc(2vw + 2vh);
    border-style: hidden;
    background-color: #03A96B;
    color: white;
    text-align: center;
    font-size: calc(1.5vw + 1.5vh);
    margin-left: calc(30vw + 30vh);
}
.announcementCreate .add-row-bottom p{
    margin-top: calc(0.5vw + 0.5vh);
    margin-left: calc(0.5vw + 0.5vh);
    font-size: calc(0.8vw + 0.8vh);
}


.modal{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
.modal-content{
    width: 500px;
    background-color: #fff;
}
.modal-body{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}





