.scholarshipCheckForm {
    font-family: 'Prompt', sans-serif;
    margin: 5vh auto 5vh auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px #949494;
    width:  80%;
    height: 70vh;
}
.scholarshipCheckForm .header {
    border-bottom: 2px solid #A62639;
    height: 10vh;
}
.scholarshipCheckForm .header .icon-three-dots {
    width: calc(2.3vw + 2.3vh);
    height: calc(2.3vw + 2.3vh);
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 50%;
    font-size: calc(1.5vw + 1.5vh);
    color: #fff;
    text-align: center;
    background : linear-gradient( #f6c8b1, #DD4A48);;
}
.scholarshipCheckForm .header h4 {
    margin: auto 0 auto 0.5rem;
    font-size: calc(1vw + 1vh);
    font-weight: 500;
}
.scholarshipCheckForm .forms-list {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;
}
.scholarshipCheckForm .forms-list h5{
    margin-top: calc(1vw + 1vh); 
    margin-bottom: calc(1vw + 1vh); 
    font-weight: 500;
}
.scholarshipCheckForm .form-profile{
    margin-left: 20%;
}
.scholarshipCheckForm .form-profile input{
    width: 80%;
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);   
} 
.scholarshipCheckForm .form-profile select{
    width: 80%;
    border: 2px solid #A62639;
    border-radius: 7px;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
    font-weight: 300;
    
} 

/*-----------------------form-check--------------------------------*/
.scholarshipCheckForm .form-checks{
    width: 100%;
    height: 8vh;
    
}
.scholarshipCheckForm .form-check-true, .form-check-false{
    margin-top: calc(1vw + 1vh);
}

.scholarshipCheckForm .form-check-true{
    margin-left: calc(8vw + 8vh);
    accent-color:  #03A96B;
}
.scholarshipCheckForm .form-check-false{
    margin-left: calc(1vw + 1vh);
    accent-color:  #A62639
}

.scholarshipCheckForm .form-check-true label{
    margin-left: calc(0.5vw + 0.5vh)
}
.scholarshipCheckForm .form-check-false label{
    margin-left: calc(0.5vw + 0.5vh)
}
/*----------------form-note-----------------------------*/
.scholarshipCheckForm .form-note {
    width: 100%;
    height: 35vh;
}
.scholarshipCheckForm .form-note .note{
    margin-left: calc(8vw + 8vh);
}
.scholarshipCheckForm .form-note .note input{
    width: 80%;
    height: 30vh;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);   
} 
/*-----------------footer---------------------------*/
.scholarshipCheckForm .form-footer{
    width: 100%;
    height: 10vh;
}
.scholarshipCheckForm .next-p1{
    margin-top: calc(1vw + 1vh);
    margin-left: calc(28vw + 28vh);
    margin-bottom: calc(1vw + 1vh);
}
.scholarshipCheckForm .next-p1 p{
    margin-top: calc(0.9vw + 0.9vh);
    font-size: calc(0.7vw + 0.7vh);
}

.scholarshipCheckForm .next-p1 button {
    background-color: #03A96B;
    border: none;
    color: white;
    padding: calc(0.3vw + 0.3vh) calc(1.5vw + 1.5vh) ;
    text-align: center;
    text-decoration: none;
    font-size: calc(0.5vw + 0.5vh);
    margin: calc(0.8vw + 0.8vh) calc(1.2vw + 1.2vh);
    cursor: pointer;
    border-radius: 12px;
}