.annoucement {
    font-family: 'Prompt', sans-serif;
    margin: 5vh auto 5vh auto;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px #949494;
    width:  80%;
    height: 70vh;
}
.annoucement .header {
    border-bottom: 2px solid #A62639;
    height: 10vh;
}
.annoucement .header .icon-news {
    width: calc(2.3vw + 2.3vh);
    height: calc(2.3vw + 2.3vh);
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-radius: 50%;
    font-size: calc(1.5vw + 1.5vh);
    color: #fff;
    text-align: center;
    background : linear-gradient( #f6c8b1, #DD4A48);;
}
.annoucement .header h4 {
    margin: auto 0 auto 0.5rem;
    font-size: calc(1vw + 1vh);
    font-weight: 500;
}
.annoucement .newslist {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 60vh;
}
.annoucement .newslist .news {
    background-color: rgba(240, 240, 240, 0.4);
    box-shadow: 0px 0px 5px 0px #949494;
    border-radius: 10px;
    margin: 2.5%;
}
.news .title {
    height: 7vh;
    border-bottom: 2px solid #7c7c7c;
    display: flex;
}
.news .title h2{
    margin: auto 0 auto 1rem;
    text-align: left;
    width: 80%;
    font-size: calc(0.9vw + 0.9vh);
}
.news .title h3{
    margin: auto 1rem auto 0;
    text-align: right;
    width: 20%;
    font-size: calc(0.9vw + 0.9vh);

}
.news img {
    width: 100%;
    height: 90%;
}

.news .bottom {
    display: flex;
    width: 100%;
}
.news .bottom h3{
    margin: 2% 3% 2% 3%;
    cursor: pointer;
    font-size: calc(0.8vw + 0.8vh);
}
.annoucement.news .bottom .user-panel {
    text-align: right;

}