.login-button {
  background:#A62639;
  color: white;
  font-family: 'Prompt', sans-serif;
  border-radius: 0.5vw ;
  border: none;
  padding: 0.25vw 0.5vw 0.25vw 0.25vw;
  font-size: calc(0.75vw + 0.75vh);

}

.logo-button {
  width: calc(2vw + 2vh);;
  height: calc(2vw + 2vh);;
  border-radius: 15%;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  background: white;
}

.logout-button{
  color: white;
  background-color: #A62639;
  border: none;
  text-decoration: none;
  font-size: 3.5vh;
}


/*
   ---------------------- DONT DELETE ( OLD CSS FOR OLD LOGIN ) -----------------------------
.login-button {
  background:#A62639;
  color: white;
  font-family: 'Prompt', sans-serif;
  border-radius: 1vh ;
  border: none;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.logout-button {
  background:#ffffff;
  color: rgb(0, 0, 0);
  font-family: 'Prompt', sans-serif;
  border-radius: 1vh;
  border: none;
  padding: 10px;
}

.logo-button {
  width: 3vw;
  height: 5vh;
  border-radius: 15%;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  background: white;
}
*/