/*
    - ANNOUNCEMENT
        - HEADER
        - NEWSLIST
            - NEWS
*/

.annoucement {
    font-family: 'Prompt', sans-serif;
    
    background-color: rgb(255, 255, 255);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 93vh;
}

/* center */
.annoucement .newslist {

    margin: 30px;
    height: 100%;
}
.annoucement .newslist .news {
    background-color: rgba(240, 240, 240, 0.4);
    box-shadow: 0px 0px 10px 0px #838383;
    border-radius: 10px;
    margin: 5% 10% 0% 10%;
}

.annoucement .news .title {
    height: 7vh;
    border-bottom: 2px solid #7c7c7c;
    display: flex;
}
.annoucement .news .title h2{
    margin: auto 0 auto 1rem;
    text-align: left;
    width: 80%;
    font-size: calc(0.9vw + 0.9vh);
}
.annoucement .news .title h3{
    margin: auto 1rem auto 0;
    text-align: right;
    width: 20%;
    font-size: calc(0.9vw + 0.9vh);

}

.annoucement .news .content {
    background-color: gray;
}

.annoucement .news img {
    display: block;

    margin-left: auto;
  margin-right: auto;
    width: auto;
    height: 20vh;
}

.annoucement .news .bottom {
    display: flex;
    width: 100%;
}
.annoucement .news .bottom h3{
    margin: 2% 3% 2% 3%;
    cursor: pointer;
    font-size: calc(0.8vw + 0.8vh);
}
.annoucement .news .bottom .admin-panel {
    text-align: left;
    display: flex;
    width: 50%;
}
.annoucement .news .bottom .user-panel {
    text-align: right;
    width: 50%;
}

