/*------------------report--------------------------*/
.report {
    font-family: 'Prompt', sans-serif;
    margin: 3vh auto 3vh auto;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px #949494;
    width:  90%;
    height: 80vh;
}
/*-----------------header---------------------*/
.report .header {
    border-bottom: 2px solid #A62639; 
    height: 7vh;
}
.report .header .icon-files{
    width: calc(1.6vw + 1.6vh);
    height: calc(1.6vw + 1.6vh);
    margin: auto 0 auto 0.5rem;
    border-radius: 50%;
    font-size: calc(1.0vw + 1.0vh);
    color: #fff;
    text-align: center;
    background : linear-gradient( #f6c8b1, #DD4A48);

}
.report .header h4 {
    margin: auto 0 auto 0.5rem;
    font-size: calc(1vw + 1vh);
    font-weight: 500;
}
/*--------------------row-top--------------------*/

.report .row-top-report {
    width: 100%;
    height: 12vh; 
}
.report .row-top-report select {
    margin-top: calc(0.2vw + 0.2vh);
    padding: calc(0.2vw + 0.2vh) calc(0.5vw + 0.5vh);
    display: inline-block;
    border: 1px solid #A62639;
    border-radius: 7px;
    box-sizing: border-box;
    background-color: #f5f5f5;
    font-size: calc(0.66vw + 0.66vh);
}
/*-------------report-scholarship-------------*/
.report .report-scholarship, .report-term, .report-type, .report-sponcer {
    width: 15%;
    margin-left: calc(1vw + 1vh);
    margin-top: 1vh;
    font-size: calc(0.7vw + 0.7vh);
}
.report .report-scholarship select{
    width: 100%
}
.report .report-term select{
    width: 100%
}
.report .report-type select{
    width: 100%
}
.report .report-sponcer select{
    width: 100%;
}
/*--------------------row-center--------------------*/
.report .row-center-report{
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 50vh;

}
/*------------------reportlist--------------------*/
.report .reportlist{
    background-color: white;
    border-radius: 10px;
    width: 95%;
    height: 13vh;
    margin: calc(0.5vw + 0.5vh) auto auto calc(2vw + 2vh);
    border: 1px solid #A62639;
    border-top: 4px solid #A62639;
    margin-left: 28px;
}
.reportlist .bottom{
    width: 40%;
}

.reportlist .bottom h3{
    margin-left: calc(2vw + 2vh);
    margin-top: calc(0.5vw + 0.5vh);
    font-size: calc(0.8vw + 0.8vh);
}
/*-----------------button---------------*/
.reportlist .button-report{
    width: 50%;
    margin-top: calc(0.5vw + 0.5vh);  
}
.reportlist .button-search{
    margin-left: calc(19vw + 19vh);  
}
.reportlist .button-report button{
    background-color: #F5F5F5;
    border-radius: 5px;
    border-style: hidden;
    width: 30%; 
    height: 6vh;
}
.reportlist .button-report p{
    padding-left: 13px;
    padding-top: 11px;
    font-size: calc(0.7vw + 0.7vh);  
}
.reportlist .button-search .bi{
    margin-top: calc(0.2vw + 0.2vh);
    border-radius: 10px;
    width: calc(1.7vw + 1.7vh);
    height: calc(1.7vw + 1.7vh);
    font-size: calc(1.1vw + 1.1vh);
    color: white;
    box-shadow: 0px 0px 2px 0px #949494;
    background-color: #28C3D7;
}
/*-----------------Phone----------------------*/
/*-------------------icon-1024-px-------------*/
@media screen and (max-width: 1024px){
    .reportlist .button-report {
    
     margin-right: calc(5.1vw + 5.1vh);
    
    }
    .reportlist .button-report p{
        padding-left: calc(0.4vw + 0.4vh);
        font-size: calc(0.66vw + 0.66vh);
       }

}