
/*--------schlorshipstatus---------------*/
.schlorshipstatus {
    font-family: 'Prompt', sans-serif;
    margin: 3vh auto 3vh auto;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 5px 0px #949494;
    width:  90%;
    height: 80vh;
}
/*---------------header------------------*/
.schlorshipstatus .header {
    border-bottom: 2px solid #A62639;
    height: 7vh;
}
.schlorshipstatus .header .icon-grid {
    width: calc(1.6vw + 1.6vh);
    height: calc(1.6vw + 1.6vh);
    margin: auto 0 auto 0.5rem;
    border-radius: 50%;
    font-size: calc(1.0vw + 1.0vh);
    color: #fff;
    text-align: center;
    background : linear-gradient( #f6c8b1, #DD4A48);;
}
.schlorshipstatus .header h4 {
    margin: auto 0 auto 0.5rem;
    font-size: calc(1vw + 1vh);
    font-weight: 500;
}
/*-------------scholarnews--------------*/
.schlorshipstatus .scholarnews {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 73vh;
}
.schlorshipstatus .scholarnews .scholar {
    background-color: rgba(240, 240, 240, 0.4);
    box-shadow: 0px 0px 5px 0px #949494;
    border-radius: 10px;
    margin: 2.5%;
    width:75%;
}
.scholar .title {
    height: 7vh;
    border-bottom: 2px solid #7c7c7c;
    display: flex;
}
.scholar .title h2{
    margin: auto 0 auto 1rem;
    text-align: left;
    width: 80%;
    font-size: calc(0.9vw + 0.9vh);
}
.scholar .title h3{
    margin: auto 1rem auto 0;
    text-align: right;
    width: 20%;
    font-size: calc(0.9vw + 0.9vh);

}
.scholar .bottom {
    display: inline;
    width: 100%;
}
.scholar .bottom h3{
    margin: 2% 3% 2% 3%;
    cursor: pointer;
    font-size: calc(0.8vw + 0.8vh);
}
.schlorshipstatus.scholar .bottom .user-panel {
    text-align: right;

}
/*----------------button---------------------*/
.schlorshipstatus .button{
    font-family: 'Prompt', sans-serif;
    color: white;
    width: 15%;
    height: 11vh;
    background-color: #03A96B;
    margin: 4vh auto 4vh auto;
    border-radius: 0.5rem;
    border:none ;

}