/*.modal{
    position: fixed;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width:  100%;
    height: 100vh;
   
  }*/
/*.modal .modal-content{
    border-radius: 1rem;
    box-shadow: 0px 0px 5px 0px #949494;
    width:  40%;
    height: 40vh;
    margin: auto;
    background-color: white;
}*/
.modal .modal-body{
    border-radius: 15%;
}
.modal .icon .bi{
    font-size: calc(4vw + 4vh);
    color: #03a96b;

}

.modal .image-modal-button-close{
    background-color: white;
}



