.image-modal {
  position:absolute;
  left:0;
  top:0;
  background-color: rgba(0, 0, 0, 0.5);
  width:  100vw;
  height: 100vh;
  display: flex;
}
.image-modal-content {
  width: 80vw;
  height: 80vh;
  margin: auto;
  display: flex;
  border-radius: calc(1vw + 1vh);
}

.image-modal-content img {
  max-width: 80vw;
  max-height: 80vh;
  width: 80vw;
  height: auto;
  margin: auto;
}
.image-modal-button-close {
  position:absolute;
  top:0;
  right:0;

  width: calc(2vw + 2vh);
  height: calc(2vw + 2vh);

  background-color: #000000;
  border-radius: 50%;
  border: 1px solid white;

  color: rgb(255, 255, 255);
  margin: calc(1vw + 1vh);
  font-size: calc(1vw + 1vh);
}
